body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: white;
	color: red;
	}
.panel {
	border-color: teal;
	border-style: solid 2px;
}
.btn {
 		padding: 3px, 3px, 3px, 3px;
 		  margin: 10px;
}
